DATABASE_HOST=# localhost       # Any string
DATABASE_PORT=# 54325           # Any integer
DATABASE_USER=# user            # Any string
DATABASE_PASSWORD=# password    # Any string
DATABASE_NAME=# dda_db          # Any string
JWT_SECRET=# super_secret_key_change_me_in_production # 64 Character String
PORT=# 3000     # Any integer